################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XMLFeed/bin
/XMLFeed.Tests/obj/Debug
/XMLFeed.Tests/bin/Debug
/.vs
/XMLFeed/obj/Debug
